# Eat Safe, Love

## Notebook Set Up

In [6]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [7]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [8]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [9]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [10]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [58]:
# Find the establishments with a hygiene score of 20
hquery = {'scores.Hygiene': 20}
hresult = establishments.find(hquery)
# Use count_documents to display the number of documents in the result
hygiene_count = establishments.count_documents(hquery)
print('Number of documents with Hygiene score 20:', {hygiene_count})
# Display the first document in the results using pprint
print('The first dictionary with hygiene score of 20:\n')
pprint(hresult[0])

Number of documents with Hygiene score 20: {41}
The first dictionary with hygiene score of 20:

{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': '0',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('65ecd8228e3d99a3b4de9a16'),
 'geocode': {'latitude': Decimal128('50.7697050000000'),
             'longitude': Decimal128('0.276940000000000')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [59]:
# Convert the result to a Pandas DataFrame
hygiene_df = pd.json_normalize(hresult)
# Display the number of rows in the DataFrame
print('Number of rows in hygiene_df:', len(hygiene_df))
# Display the first 10 rows of the DataFrame
hygiene_df.head(10)

Number of rows in hygiene_df: 41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,65ecd8228e3d99a3b4de9a16,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.276940000000000,50.7697050000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,65ecd8228e3d99a3b4de9d9b,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.27872100000000,51.8575360000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,65ecd8228e3d99a3b4dea0a4,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.15927000000000,51.7894290000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,65ecd8228e3d99a3b4dea297,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.102020000000000,50.7708850000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,65ecd8228e3d99a3b4dea2a3,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446000000000,50.7707240000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,65ecd8228e3d99a3b4deac41,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349000000000,51.5414480000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,65ecd8228e3d99a3b4deae62,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.712167100000000,51.5350065000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,65ecd8238e3d99a3b4dec38c,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364000000000,51.5915150000000,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,65ecd8238e3d99a3b4dec7d1,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146449998021126,51.1859474182129,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,65ecd8238e3d99a3b4decfe4,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307000000000,51.5700500000000,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [ ]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query =

# Use count_documents to display the number of documents in the result

# Display the first document in the results using pprint

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude =
longitude =

query =
sort =
limit =

# Print the results

In [ ]:
# Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame